.pokedex-container {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(
    0deg,
    rgba(135, 135, 135, 1) 0%,
    rgba(249, 249, 249, 1) 49%,
    rgba(255, 255, 255, 1) 100%
  ); */
background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: monospace;
transition: all 0.2s ease;
}

.card-pokedex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background: rgb(242, 242, 242);
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 40rem;
  height: auto;
  padding: 20px;

  font-size: 20px;
  overflow: auto;

  align-self: center;
  margin-top: 5rem;
}

.card-image {
  width: 150px;
  height: 150px;
}

.card-header{
 display: flex;
flex-direction: row;
 align-content: center ;
justify-content: space-between;

 width: 100%

}

.pokemon-id{
 color: #fff;
}

.type-container{
 display: flex;
gap: 1rem;
}

.stats-pokemon-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  list-style: none;
  gap: 1rem;
}

.stats-pokemon-item {
  display: flex;
  flex-direction: column;

  height: auto;
  padding: 2px 15px;

  background-color: #fff;
}

.stats-pokemon-item p {
  margin: 0;
}

.stat-name{
 font-weight: 400;
}

.stat-number{ font-weight: 700;
}

.header {
  width: 100vw;
  height: 6rem;
  background-color: rgba(219, 63, 63, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.3rem;
}
.header .title {
  justify-self: center;
  border-bottom: 1px solid white;
}

.input-search {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  margin-right: 5px;
  font-size: 30px;
  color: rgba(221, 221, 221, 0.74);
  font-family: monospace;
}

.input-search {
  border: 1px solid slategray;
}

.button-search {
  border-radius: 50px;
}


.button-container {
  display: flex;
  gap: 2.5rem;
}

.type-normal   { background-color: #A8A77A; }
.type-fire     { background-color: #EE8130; }
.type-water    { background-color: #6390F0; }
.type-electric { background-color: #F7D02C; }
.type-grass    { background-color: #7AC74C; }
.type-ice      { background-color: #96D9D6; }
.type-fighting { background-color: #C22E28; }
.type-poison   { background-color: #A33EA1; }
.type-ground   { background-color: #E2BF65; }
.type-flying   { background-color: #A98FF3; }
.type-psychic  { background-color: #F95587; }
.type-bug      { background-color: #A6B91A; }
.type-rock     { background-color: #B6A136; }
.type-ghost    { background-color: #735797; }
.type-dragon   { background-color: #6F35FC; }
.type-dark     { background-color: #705746; }
.type-steel    { background-color: #B7B7CE; }
.type-fairy    { background-color: #D685AD; }